:root {
	--main-gray-color: #e0e3ee;
	--main-dark-gray-color: #00000033;
	--main-border-color: #e0e3ee;

	--main-bg-color: #ffffff;
	--secondary-bg-color: #f4f5f9;

	--primary-text-color: #2d3b87;
	--secondary-text-color: #969dc3;
	--secondary2-text-color: #616ca5;

	--primary-hover-color: #f4f5f9;

	--icon-inactive-color: #66788a;

	--primary-blue-color: #2d3b87;

	--main-transition: 0.2s;

	--main-shadow-style: 0px 2px 8px 0px #0000002b;

	--success-color: #69c57f;
}
