@font-face {
    font-family: 'Rubik';
    font-weight: 400;
    src: url('./rubik/Rubik-Regular.ttf');
}
@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    src: url('./rubik/Rubik-SemiBold.ttf')
}